---
title: Weryfikacja zatrudnienia weryfikacja i9
description: Zgodnie z Ustawą o reformie przepisów imigracyjnych i kontroli imigracji (IRCA) pracodawcy w Stanach Zjednoczonych muszą sprawdzać, czy nowo zatrudniani przez nich pracownicy mają odpowiednie zezwolenie na pracę.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 8bfd6a5c26c6e68d10918bdc4e4144b640035b32
ms.sourcegitcommit: 6cb174d1ec8b55946dca4db03d6a3c3f4c6fa2df
ms.translationtype: HT
ms.contentlocale: pl-PL
ms.lasthandoff: 03/09/2021
ms.locfileid: "5565997"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="e379d-103">Weryfikacja zatrudnienia weryfikacja i9</span><span class="sxs-lookup"><span data-stu-id="e379d-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="e379d-104">Zgodnie z Ustawą o reformie przepisów imigracyjnych i kontroli imigracji (IRCA) pracodawcy w Stanach Zjednoczonych muszą sprawdzać, czy nowo zatrudniani przez nich pracownicy mają odpowiednie zezwolenie na pracę.</span><span class="sxs-lookup"><span data-stu-id="e379d-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="e379d-105">Ta procedura prowadzi przez kolejne kroki rejestrowania niezbędnych dokumentów w celu weryfikacji zawartości formularza I-9.</span><span class="sxs-lookup"><span data-stu-id="e379d-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="e379d-106">Procedura wykorzystuje firmę demonstracyjną USMF.</span><span class="sxs-lookup"><span data-stu-id="e379d-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="e379d-107">Wybierz kolejno opcje Zasoby ludzkie > Pracownicy > Pracownicy.</span><span class="sxs-lookup"><span data-stu-id="e379d-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="e379d-108">Skorzystaj z opcji szybkiego filtrowania, aby znaleźć rekordy.</span><span class="sxs-lookup"><span data-stu-id="e379d-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="e379d-109">Na przykład wyfiltruj według pola Nazwa z wartością „Wiktor”.</span><span class="sxs-lookup"><span data-stu-id="e379d-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="e379d-110">Zaznacz pracownika.</span><span class="sxs-lookup"><span data-stu-id="e379d-110">Select the employee.</span></span> <span data-ttu-id="e379d-111">Przykład: Wiktor Paradowski</span><span class="sxs-lookup"><span data-stu-id="e379d-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="e379d-112">Rozwiń skróconą kartę Informacje osobiste.</span><span class="sxs-lookup"><span data-stu-id="e379d-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="e379d-113">Kliknij opcję Numery identyfikacyjne.</span><span class="sxs-lookup"><span data-stu-id="e379d-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="e379d-114">Kliknij przycisk Nowy.</span><span class="sxs-lookup"><span data-stu-id="e379d-114">Click New.</span></span>
7. <span data-ttu-id="e379d-115">Zaznacz typ rejestrowanego identyfikatora.</span><span class="sxs-lookup"><span data-stu-id="e379d-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="e379d-116">Przykład: Paszport.</span><span class="sxs-lookup"><span data-stu-id="e379d-116">Example: Passport</span></span>
8. <span data-ttu-id="e379d-117">W polu Numer wpisz wartość.</span><span class="sxs-lookup"><span data-stu-id="e379d-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="e379d-118">W polu podstawowe wybierz opcję tak.</span><span class="sxs-lookup"><span data-stu-id="e379d-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="e379d-119">W polu Opis wprowadź krótki opis rekordu identyfikacyjnego.</span><span class="sxs-lookup"><span data-stu-id="e379d-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="e379d-120">W polu Agencja wystawiająca zaznacz agencję, która wydała pracownikowi dokument identyfikacyjny.</span><span class="sxs-lookup"><span data-stu-id="e379d-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="e379d-121">Przykład: Rząd.</span><span class="sxs-lookup"><span data-stu-id="e379d-121">Example: Government</span></span>
12. <span data-ttu-id="e379d-122">Wprowadź datę, kiedy agencja wystawiła pracownikowi dokument identyfikacyjny.</span><span class="sxs-lookup"><span data-stu-id="e379d-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="e379d-123">Przykład: 02/15/2011.</span><span class="sxs-lookup"><span data-stu-id="e379d-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="e379d-124">Wprowadź datę, kiedy dokument identyfikacyjny wygasa.</span><span class="sxs-lookup"><span data-stu-id="e379d-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="e379d-125">Przykład: 2/15/2021.</span><span class="sxs-lookup"><span data-stu-id="e379d-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="e379d-126">Kliknij przycisk Zapisz.</span><span class="sxs-lookup"><span data-stu-id="e379d-126">Click Save.</span></span>
15. <span data-ttu-id="e379d-127">Zamknij stronę.</span><span class="sxs-lookup"><span data-stu-id="e379d-127">Close the page.</span></span>
16. <span data-ttu-id="e379d-128">Kliknij kartę Zatrudnienie.</span><span class="sxs-lookup"><span data-stu-id="e379d-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="e379d-129">Kliknij opcję I-9.</span><span class="sxs-lookup"><span data-stu-id="e379d-129">Click I-9.</span></span>
18. <span data-ttu-id="e379d-130">Kliknij przycisk Nowy.</span><span class="sxs-lookup"><span data-stu-id="e379d-130">Click New.</span></span>
19. <span data-ttu-id="e379d-131">W polu Uprawnienie do pracy wybierz opcję.</span><span class="sxs-lookup"><span data-stu-id="e379d-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="e379d-132">Jeśli pracownik nie jest obywatelem lub mieszkańcem Stanów Zjednoczonych, należy wprowadzić numer jego zezwolenia lub dokumentu obcokrajowca.</span><span class="sxs-lookup"><span data-stu-id="e379d-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="e379d-133">Wybierz opcję GroupListA.</span><span class="sxs-lookup"><span data-stu-id="e379d-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="e379d-134">Wybrana lista zależy od tego, jaką formę identyfikacji dostarczył pracownik.</span><span class="sxs-lookup"><span data-stu-id="e379d-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="e379d-135">Pracownik musi dostarczyć jeden dokument z listy A lub po jednym dokumencie z list B i C. Na przykład jeśli pracownik dostarczył paszport, można wybrać listę A.</span><span class="sxs-lookup"><span data-stu-id="e379d-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="e379d-136">Jednakże jeśli pracownik dostarczył tylko prawo jazdy i kartę zabezpieczenia społecznego, należy wybrać listy B i C.</span><span class="sxs-lookup"><span data-stu-id="e379d-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="e379d-137">W polu Typ dokumentów I-9 zaznacz typ dokumentu dostarczonego przez pracownika.</span><span class="sxs-lookup"><span data-stu-id="e379d-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="e379d-138">W polu Numer dokumentu wprowadź lub wybierz wartość.</span><span class="sxs-lookup"><span data-stu-id="e379d-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="e379d-139">Kliknij przycisk Zapisz.</span><span class="sxs-lookup"><span data-stu-id="e379d-139">Click Save.</span></span>



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]