--- 
title: Weryfikacja zatrudnienia weryfikacja i9
description: "Zgodnie z Ustawą o reformie przepisów imigracyjnych i kontroli imigracji (IRCA) pracodawcy w Stanach Zjednoczonych muszą sprawdzać, czy nowo zatrudniani przez nich pracownicy mają odpowiednie zezwolenie na pracę."
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 0312b8cfadd45f8e59225e9daba78b9e216cff51
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.contentlocale: pl-pl
ms.lasthandoff: 09/14/2018

---
# <a name="employment-verification-i9-verification"></a>Weryfikacja zatrudnienia weryfikacja i9

[!include [task guide banner](../../../includes/task-guide-banner.md)]

Zgodnie z Ustawą o reformie przepisów imigracyjnych i kontroli imigracji (IRCA) pracodawcy w Stanach Zjednoczonych muszą sprawdzać, czy nowo zatrudniani przez nich pracownicy mają odpowiednie zezwolenie na pracę. Ta procedura prowadzi przez kolejne kroki rejestrowania niezbędnych dokumentów w celu weryfikacji zawartości formularza I-9. Procedura wykorzystuje firmę demonstracyjną USMF.

1. Wybierz kolejno opcje Zasoby ludzkie > Pracownicy > Pracownicy.
2. Skorzystaj z opcji szybkiego filtrowania, aby znaleźć rekordy. Na przykład wyfiltruj według pola Nazwa z wartością „Wiktor”.
3. Zaznacz pracownika. Przykład: Wiktor Paradowski
4. Rozwiń skróconą kartę Informacje osobiste.
5. Kliknij opcję Numery identyfikacyjne.
6. Kliknij przycisk Nowy.
7. Zaznacz typ rejestrowanego identyfikatora. Przykład: Paszport.
8. W polu Numer wpisz wartość.
9. W polu podstawowe wybierz opcję tak.
10. W polu Opis wprowadź krótki opis rekordu identyfikacyjnego.
11. W polu Agencja wystawiająca zaznacz agencję, która wydała pracownikowi dokument identyfikacyjny. Przykład: Rząd.
12. Wprowadź datę, kiedy agencja wystawiła pracownikowi dokument identyfikacyjny. Przykład: 02/15/2011.
13. Wprowadź datę, kiedy dokument identyfikacyjny wygasa. Przykład: 2/15/2021.
14. Kliknij przycisk Zapisz.
15. Zamknij stronę.
16. Kliknij kartę Zatrudnienie.
17. Kliknij opcję I-9.
18. Kliknij przycisk Nowy.
19. W polu Uprawnienie do pracy wybierz opcję.
    * Jeśli pracownik nie jest obywatelem lub mieszkańcem Stanów Zjednoczonych, należy wprowadzić numer jego zezwolenia lub dokumentu obcokrajowca.  
20. Wybierz opcję GroupListA.
    * Wybrana lista zależy od tego, jaką formę identyfikacji dostarczył pracownik. Pracownik musi dostarczyć jeden dokument z listy A lub po jednym dokumencie z list B i C. Na przykład jeśli pracownik dostarczył paszport, można wybrać listę A. Jednakże jeśli pracownik dostarczył tylko prawo jazdy i kartę zabezpieczenia społecznego, należy wybrać listy B i C.  
21. W polu Typ dokumentów I-9 zaznacz typ dokumentu dostarczonego przez pracownika.
22. W polu Numer dokumentu wprowadź lub wybierz wartość.
23. Kliknij przycisk Zapisz.


